---
import '../styles/global.scss';
import '../styles/resume.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { SiteData } from '../types';
import rawData from '../data/data.json';
const data = rawData as SiteData;

---

<BaseLayout title="Resume" name={data.name} description="Resume of Mark Blaha II">
  <section>
    <h1>{data.name}</h1>
    
    <h2>Education</h2>
    {data.education.map(edu => (
        <div class="card">
        <h3>{edu.degree}</h3>
        <div class="edu-details">
          <p>{edu.school} — {edu.location} <span class="date">{edu.startDate} - {edu.endDate}</span></p>
          <p><strong>GPA:</strong> {edu.gpa} &nbsp;&nbsp; <strong>Honors:</strong> {edu.honors}</p>
        </div>
        </div>
    ))}

    <h2>Certifications</h2>
    {data.certifications.map(cert => (
      <div class="card">
        <p>
          <strong><a href={cert.url}>{cert.name}</a></strong><br />
          {cert.issuer} <span class="date">{cert.date}</span>
        </p>
    </div>
    ))}

    <h2>Certifications In Progress</h2>
    {data.certificationsInProgress.map(cert => (
      <div class="card">
        <p>
          <strong>{cert.name}</strong><br />
          {cert.issuer} <span class="date">{cert.date}</span>
        </p>
      </div>
    ))}

    <h2>Skills</h2>
    <div class="skills-grid">
      {data.skills.map(group => (
        <div class="card">
          <h3>{group.category}</h3>
          <div class="skill-list">
            {group.skills.map (skill => (
              <span class="skill">{skill}</span>
            ))}
          </div>
        </div>
      ))}
    </div>

  </section>
</BaseLayout>