---
import '../styles/global.scss';
import '../styles/resume.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { SiteData } from '../types';
import rawData from '../data/data.json';
const data = rawData as SiteData;

---

<BaseLayout title="Resume" name={data.name} description="Resume of Mark Blaha II">
  <section>
    <h1>{data.name}</h1>
    
    <h2>Education</h2>
    {data.education.map(edu => (
      <article>
        <div class="card">
        <h3>{edu.degree}</h3>
        <p>{edu.school}, {edu.location}</p>
        <p><strong>GPA: </strong>{edu.gpa}, <strong>Honors:</strong> {edu.honors}</p>
        <p><em>{edu.startDate} - {edu.endDate}</em></p>
        </div>
      </article>
    ))}

    <h2>Certifications</h2>
    {data.certifications.map(cert => (
      <div class="card">
      <li>
        <strong><a href={cert.url}>{cert.name}</a></strong> - {cert.issuer} ({cert.date})
      </li>
    </div>
    ))}

    <h2>Certifications In Progress</h2>
    {data.certificationsInProgress.map(cert => (
    <div class="card"><li><strong>{cert.name}</strong> - {cert.issuer} ({cert.date})</li></div>))}

    <h2>Skills</h2>
    <div class="skills-grid">
      {data.skills.map(group => (
        <div class="card">
          <h3>{group.category}</h3>
          <div class="skill-list">
            <ul>{group.skills.map(skill => (<li>{skill}</li>))}</ul>
          </div>
        </div>
      ))}
    </div>

  </section>
</BaseLayout>